<div class="container my-5">
    <div class="row align-items-center">

        <div class="col-md-6">
            <div class="creative-img-wrapper">
                <img src="assets/images/over.jpeg" class="img-fluid creative-img" alt="Creative Design">
            </div>
        </div>

        <div class="col-md-6">
            <div class="glass-card p-5">
                <span class="badge rounded-pill bg-warning text-dark mb-3">WELCOME TO</span>
                <h2 class="display-5 fw-bold text-gradient">Kandula Forests Resort</h2>
                <p class="lead ">Kandula Forests Resort is a serene nature retreat located near the Udawalawe forest,
                    surrounded by lush greenery and a calm, silent environment. It is the perfect place for guests who
                    wish to relax and enjoy the beauty of nature. <br><br>
                    We offer friendly service, comfortable stays, and guided wildlife experiences to help guests see
                    animals and explore the area. With personalized care and a variety of services, we ensure every
                    guest enjoys a peaceful and memorable stay


                </p>
            </div>
        </div>

    </div>
</div>