<div class="container py-5">
    <div class="row g-4">
        <div class="col-md-4" *ngFor="let room of rooms" class="room-card">
            <div class="room-card h-100">
                <img [src]="room.image" [alt]="room.type" />
                <div class="room-body">
                    <h4>{{room.type}}</h4>
                    <span class="badge" [class.ac]="room.ac" [class.non-ac]="!room.ac">
                        {{room.ac ? 'AC Room' : 'Non AC Room'}}
                    </span>
                    <p class="desc">{{room.description}}</p>
                    <div class="price-box">
                        <span class="old-price">LKR {{ room.price | number }}</span>
                        <span class="discount">-{{ room.discount }}%</span>
                    </div>

                    <div class="final-price">
                        LKR {{ getFinalPrice(room) | number }}
                    </div>
                    <!-- <button class="view-btn" [routerLink]="['/room-details', room.id]">
                        View More
                    </button> -->

                </div>

            </div>

        </div>
    </div>

</div>