  .image-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    /* set fixed height so images are visible */
    overflow: hidden;
  }
    .image-wrapper .responsive-text {
    position: relative;
    z-index: 2;
    /* text stays on top */
  }


  /* ✅ Slideshow images */
  .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeSlide 20s infinite;
    z-index: 0;
  }


  /* ✅ Animate images one after the other */
  .image-wrapper img:nth-of-type(1) {
    animation-delay: 0s;
  }

  .image-wrapper img:nth-of-type(2) {
    animation-delay: 5s;
  }

  .image-wrapper img:nth-of-type(3) {
    animation-delay: 10s;
  }

  .image-wrapper img:nth-of-type(4) {
    animation-delay: 15s;
  }
  .image-wrapper img:nth-of-type(5) {
    animation-delay: 20s;
  }

  .image-wrapper img:nth-of-type(6) {
    animation-delay: 25s;
  }

  .image-wrapper img:nth-of-type(7) {
    animation-delay: 30s;
  }

  .image-wrapper img:nth-of-type(8) {
    animation-delay: 35s;
  }
  .image-wrapper img:nth-of-type(9) {
    animation-delay: 40s;
  }

  .image-wrapper img:nth-of-type(10) {
    animation-delay: 45s;
  }

  .image-wrapper img:nth-of-type(11) {
    animation-delay: 50s;
  }

  .image-wrapper img:nth-of-type(12) {
    animation-delay: 55s;
  }
  .image-wrapper img:nth-of-type(13) {
    animation-delay: 60s;
  }

  .image-wrapper img:nth-of-type(14) {
    animation-delay: 65s;
  }

  .image-wrapper img:nth-of-type(15) {
    animation-delay: 70s;
  }

  /* ✅ Fade animation */
  @keyframes fadeSlide {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    25% {
      opacity: 1;
    }

    30% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }